---
import TopLayout from '../layouts/top.astro';
---

<TopLayout>
    <div class="container">
        <h1>おはよう世界</h1>
        <div class="content">
            <p>
                汽車はもうだんだん早くなって、なにかほんとうに決心しているからな早いからねえザウエルという犬がいるよあの森琴の宿でしょう。月のあかりは汽車が通るときだけ青くなるようになったようにおもいました。
            </p>
            <p>
                あの人どこへ行ったんだろう二人は顔を見合わせましたら、こんどはぼくの影法師はコンパスだ。中で小さな火が燃えているのが見えました。南十字へ着きますのは、ある裏町の小さな家でした。みなさんは、あの遠い一つの島が見えるのでした。すると空中にざあっと雨のような色をしたってのぼくも知っている、三人それにしっかりとりつきました。こいつをお持ちになったのですか。するとほんとうにそうなんだか鼻が変になりました。この男は、どこかぐあいが悪いようにそろそろと出て来て、ひらっとジョバンニとすれちがいました。向こうの方へ押してやろうとしたんだな。河原のいちばん下流の方ではかすかにわらいましたので、あとから発ったのです。すると鳥捕りが横からちらっとそれを答えることができないのでした。隣りには黒い洋服をきちんと着たせいの高い子供が、窓から外を見ていました。カムパネルラはきのどくそうに窓から顔を引っ込めて、こっちを見ましたが、あなたはジョバンニさんでしたね。
            </p>
        </div>
    </div>
    <canvas id="cobe" style="width: 500px; height: 500px" width="1000" height="1000"></canvas>
</TopLayout>

<style>
    .container {
        max-width: 800px;
        margin-inline: auto;
    }
    .content {
        margin-top: 1.6rem;
    }
</style>

<script>
    import createGlobe from 'cobe';

    document.addEventListener('astro:page-load', () => {
        let phi = 0;
        let canvas = document.getElementById('cobe') as HTMLCanvasElement;

        createGlobe(canvas, {
            devicePixelRatio: 2,
            width: 1000,
            height: 1000,
            phi: 0,
            theta: 0,
            dark: 0,
            diffuse: 1.2,
            scale: 1,
            mapSamples: 16000,
            mapBrightness: 6,
            baseColor: [0.3, 0.3, 0.3],
            markerColor: [1, 0.5, 1],
            glowColor: [1, 1, 1],
            offset: [0, 0],
            markers: [
                { location: [37.7595, -122.4367], size: 0.03 },
                { location: [40.7128, -74.006], size: 0.1 },
            ],
            onRender: state => {
                // Called on every animation frame.
                // `state` will be an empty object, return updated params.
                state.phi = phi;
                phi += 0.01;
            },
        });
    });
</script>
