---
import { formatDate } from '@library/utils';

interface Props {
    date: string;
}

const { date } = Astro.props;
---

<span class="date" title="投稿日">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg
    >
    <time datetime={date}>{formatDate(date)}</time>
</span>

<style>
    svg {
        transform: translateY(-1px);
    }
    .date {
        display: flex;
        align-items: center;
        line-height: var(--leading-trim);
        font-size: 1.48rem;
        gap: 6px;
        margin: 0.8rem 0;
    }
</style>
