---
interface Props {
    blogId: string;
    blogTitle: string;
}

const { blogTitle } = Astro.props;
---

<a class="shareButton" href={`https://twitter.com/intent/tweet?text=${blogTitle}&url=${Astro.url}`} target="_blank" rel="noopener noreferrer">
    <img class="twitterX" src="/images/twitter-x-logo.svg" alt="" width={40} height={40} />
    <!-- <img class="twitterX" src="/images/twitter-x-logo-black.svg" alt="" width={40} height={40} aria-hidden="true" data-clone="true" /> -->
    <svg class="twitterX" width="40" height="40" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" data-clone="true">
        <path d="M88.2 60.6602L169.46 178.81H151.42L70.16 60.6602H88.2ZM92.93 51.6602H53.04L146.68 187.81H186.57L92.93 51.6602Z" fill="currentColor"/>
        <path d="M132.54 109.25L182.24 51.6602H170.99L127.55 101.99L132.54 109.25Z" fill="currentColor"/>
        <path d="M105.36 127.72L53.04 188.34H64.3L110.35 134.98L105.36 127.72Z" fill="currentColor"/>
      </svg>
    <span class="shareButtonText">記事をシェアする</span>
</a>

<style>
    .twitterX {
        position: absolute;
        inset: 0;
        margin: auto auto auto 8px;
        opacity: 0;
        transition: opacity 800ms;
    }

    .twitterX[data-clone] {
        opacity: 1;
    }

    .shareButton {
        --bg1: var(--color-bg-main-2);
        --bg1-reverse: #ebebef;
        --bg2: #0000;

        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 24px 8px 48px;
        font-weight: bold;
        border-radius: 32px;
        --_g1: conic-gradient(from 90deg at 50% 75%, var(--bg1) 90deg, var(--bg1-reverse) 0) no-repeat;
        --_g2: conic-gradient(from 90deg at 50% 75%, var(--bg2) 90deg, var(--bg1) 0) no-repeat;
        background:
            var(--_g1) 0 calc(134% - var(--_p, 0%)),
            var(--_g2) 0 calc(134% - var(--_p, 0%)),
            var(--_g1) 100% calc(200% - var(--_p, 0%)),
            var(--_g2) 101% calc(200% - var(--_p, 0%)),
            var(--bg1);
        background-size: 50.2% 400%;
        -webkit-background-clip: text, border-box;
        background-clip: text, border-box;
        transition: 0.8s;
        background-color: var(--bg1);
        border: 4px solid var(--bg1);
        backface-visibility: hidden;
        overflow: hidden;
        will-change: box-shadow;
        z-index: 2;
        box-sizing: border-box;
    }

    @media (prefers-color-scheme: dark) {
        .shareButton {
            --bg1: #ebebef;
            --bg1-reverse: var(--color-bg-main-2);
        }
    }

    .shareButton:hover,
    .shareButton:focus-within {
        --_p: 134%;
        box-shadow:
            0 0 24px 0 rgb(29, 161, 242),
            0 0 16px 8px rgba(29, 161, 242, 0.64);
    }

    .shareButton:hover .twitterX,
    .shareButton:focus-within .twitterX {
        opacity: 1;
    }

    .shareButton:hover .twitterX[data-clone],
    .shareButton:focus-within .twitterX[data-clone] {
        opacity: 0;
    }

    .shareButtonText {
        color: var(--bg1);
        transition: color 800ms;
        transform: translateY(2px);
    }

    ::-webkit-full-page-media,
    :future,
    :root .shareButtonText {
        transform: translateY(0) !important;
    }

    .shareButton:hover .shareButtonText,
    .shareButton:focus-within .shareButtonText {
        color: var(--bg1-reverse);
    }

    @media (max-width: 767px) {
        .shareButton {
            background-size: 50% 400%;
        }
        .shareButtonText {
            transform: translateY(1px);
        }
    }
</style>
