---
import type { Article } from '@library/microcms';
import BaseHead from '@components/BaseHead.astro';
import BaseBody from '@components/BaseBody.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import { SITE_AUTHOR } from '@consts';

type Props = Article;

const { title, description, thumbnail, updatedAt, publishedAt } = Astro.props;

const schema = JSON.stringify({
    '@context': 'https://schema.org',
    '@type': 'Article',
    headline: title,
    author: {
        '@type': 'Person',
        name: SITE_AUTHOR,
        url: Astro.site,
    },
    description: description,
    url: Astro.url,
    datePublished: publishedAt,
    dateModified: updatedAt,
    image: [thumbnail?.url],
});
---

<html lang="ja">
    <head>
        <BaseHead title={title} description={description} image={thumbnail?.url} />
        <script type="application/ld+json">{schema}</script>
        <style>
            .blog-detail {
                width: 100%;
                max-width: 980px;
            }

            @media (max-width: 1040px) {
                .blog-detail {
                    width: auto;
                    padding: 0 28px;
                }
            }

            @media (max-width: 640px) {
                .blog-detail {
                    width: auto;
                    padding: 0 20px;
                }
            }
        </style>
    </head>

    <body>
        <Header />
        <main class="blog-detail">
            <article>
                <slot />
            </article>
        </main>
        <Footer />
        <BaseBody />
    </body>
</html>
