---
import BaseHead from '../components/BaseHead.astro';
import BaseBody from '../components/BaseBody.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import styles from '../styles/blog.module.css';

const { frontmatter } = Astro.props;
---

<html lang="ja">
    <head>
        <BaseHead
            title={frontmatter.title}
            description={frontmatter.description}
            image={frontmatter.thumbnail}
        />
        <style>
            .blog-detail {
                width: 960px;
            }

            @media (max-width: 1040px) {
                .blog-detail {
                    width: auto;
                    padding: 0 28px;
                }
            }

            @media (max-width: 640px) {
                .blog-detail {
                    width: auto;
                    padding: 0 20px;
                }
            }
        </style>
    </head>

    <body>
        <Header />
        <main class="blog-detail">
            <article>
                <div class={styles.cms}>
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
        <BaseBody />
    </body>
</html>
